@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2em;
}

body {
    width: 100%;
    height: 100vh;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 20px;
    padding: 10px;
}
.user {
    display: flex;
    background: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
}
.user ul {
    list-style: none;
}
p {
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    color: white;
    font-weight: bold;
}
li {
    font-size: 20px;
    line-height: 1.6;
}
input[type="submit"] {
    padding: 6px 20px 6px 20px;
    border: none;
    border-radius: 6px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: rgb(90, 90, 90);
    font-size: 18px;
    color:white;
    text-shadow: 0 0 5px black, 0 0 3px black;
    margin: 7px;
    padding: 10px 23px 10px 23px;
}
input[type="submit"]:hover {
    background: grey;
    transition: 0.7s;
    box-shadow: 0 0 5px 2px darkorchid, 0 0 5px 2px darkorchid;
}
input[type="submit"]:not(:hover) {
    transition: 0.7s;
}
input[type="submit"]:active {
    color: white;
    box-shadow: 0 0 5px 2px black, 0 0 5px 2px darkorchid;
    background: darkviolet;
}
#text_btn {
    padding: 6px 20px 6px 20px;
    border: none;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: rgb(90, 90, 90);
    font-size: 18px;
    color:white;
    text-shadow: 0 0 5px black, 0 0 3px black;
    margin: 7px;
    padding: 10px 23px 10px 23px;
}

#text_btn:hover {
    background: grey;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(51, 51, 51);
    box-shadow: 0 0 4px 1px black, 0 0 4px 1px rgb(133, 133, 133);
    background: silver;
    border-radius: 20px;
    width: 480px;
    height: 530px;
    border-bottom-right-radius: 0px;
}
#container:hover {
    box-shadow: 0 0 6px 2px darkviolet, 0 0 6px 2px darkviolet;
    transition: 0.7s;
}
#container:not(:hover) {
    transition: 0.7s;
}
#output {
    display: flex;
    border: none;
    padding-bottom: 5px;
    width: 95%;
    height: 90%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
span {
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 2px black, 0 0 2px black;
}
button {
    cursor: pointer;
    padding: 6px 20px 6px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(149, 149, 149);
    font-size: 30px;
    color:white;
    text-shadow: 0 0 5px black, 0 0 3px black;
    margin-left: 7px;
    margin-right: 7px;
    text-transform: capitalize;
}
button:hover {
    background: silver;
    color: darkslategray;
    box-shadow: 0 0 5px 2px darkorchid, 0 0 5px 2px darkorchid;
    transition: 0.7s;
}
button:not(:hover) {
    transition: 0.7s;
}
button:active {
    color: white;
    box-shadow: 0 0 5px 2px black, 0 0 5px 2px darkorchid;
    background: darkviolet;
}
#PrvBtn {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
#nxtBtn {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
img{
    max-width: 75%;
    max-height: 75%;
    display: block;
}
#nameProfile {
    border: none;
    width: 90%;
    height: 45px;
    display: flex;
    align-items: center;
    padding:10px;
    border-radius: 16px;
    background:lightgrey;
    box-shadow: 0 0 4px 1px black, 0 0 4px 1px rgb(133, 133, 133);
}
#nameProfile:hover {
    box-shadow: 0 0 5px 2px darkorchid, 0 0 5px 2px darkorchid;
    transition: 0.7s;
    background:silver;
}
#nameProfile:not(:hover) {
    transition: 0.7s;
}
#mail {
    border: none;
    width: 90%;
    height: 45px;
    padding:10px;
    border-radius: 16px;
    background:lightgrey;
    box-shadow: 0 0 4px 1px black, 0 0 4px 1px rgb(133, 133, 133);
}
#mail:hover {
    box-shadow: 0 0 5px 2px darkorchid, 0 0 5px 2px darkorchid;
    transition: 0.7s;
    background:silver;
}
#mail:not(:hover) {
    transition: 0.7s;
}
#img {
    border: 2px solid black;
    width: 95%;
    height: 10%;
}
#text-part {
    border: 2px solid grey;
    width: 97%;
    height: 230px;
    padding: 10px;
    border-radius: 16px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: darkslategrey;
    box-shadow: 0 0 4px 1px black, 0 0 4px 1px rgb(133, 133, 133);
    border-bottom-right-radius: 0px;
}
#text-part:hover {
    box-shadow: 0 0 5px 2px black, 0 0 5px 2px darkorchid;
    transition: 0.7s;
    background: royalblue;
}
#text-part:not(:hover) {
    transition: 0.7s;
}
.name_class {
    font-size: 26px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
h3 {
    font-size: 22px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
.text_part {
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    line-height: 2em;
}